@model Practice2.Models.Bank

@{
    ViewData["Title"] = "PostDepo";
}

<h1>PostDepo</h1>

<h4>Bank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OnAccount" class="control-label"></label>
                <input asp-for="OnAccount" class="form-control" />
                <span asp-validation-for="OnAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inComing" class="control-label"></label>
                <input asp-for="inComing" class="form-control" />
                <span asp-validation-for="inComing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Out" class="control-label"></label>
                <input asp-for="Out" class="form-control" />
                <span asp-validation-for="Out" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRegis" class="control-label"></label>
                <input asp-for="DateRegis" class="form-control" />
                <span asp-validation-for="DateRegis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
